{# -- TEMPLATE: Two column fixed -- #}

{# -- ........... Content .............-- #}
<table border="0" align="center" width="755" style="padding: 20px 80px;">
    <tr>
        <td style="width: 650px; margin: 0 auto; text-align: center;padding: 15px 0;">
            <table border="0" align="center" cellpadding="0" cellspacing="0" width="650">
                <tr>
                    <td style="padding: 15px 0;text-align: center; align: center;">
                        {% for contentData in campaign.contents if contentData.block == 'block-image-1' %}
                            {% if contentData.link_content %}
                                <a href="{{ host ~ 'click-tracking/image/' ~ contentData.code }}"
                                   target="_blank">
                                    <img src="{{ host ~ contentData.source_path }}" style="width: 350px;" width="350">
                                </a>
                            {% else %}
                                <img src="{{ host ~ contentData.source_path }}" style="width: 350px;" width="350">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td width="650" align="center" valign="top" style="width: 650px; padding: 0; text-align: center;">
                        {% for contentData in campaign.contents if contentData.block == 'block-text-1' %}
                            <table style="width: 100%; padding: 20px;">
                                <tr>
                                    <td valign="top" bgcolor="{{ contentData.style_block.background }}"
                                        style="padding: 15px; text-align: justify; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px;vertical-align: middle;background-color: {{ contentData.style_block.background }};color: {{ contentData.style_block.text }};">
                                        {{ contentData.text_content|raw|remove_empty_tags }}
                                    </td>
                                </tr>
                            </table>
                        {% endfor %}
                    </td>
                </tr>
                {#-- ............ Splitting into columns starts at this point ............ -- #}
                <tr>
                    <td style="width: 650px; margin: 0; padding: 0;">
                        <table style="width: 100%; padding: 0;text-align: center;">
                            <tr>
                                {# -- ************ Column 1 ************ -- #}
                                <td width="325" style="width: 325px; padding: 0;text-align: center; vertical-align: top;">
                                    <table style="width: 100%; padding: 0;text-align: center;vertical-align: top;">
                                        <tr>
                                            <td style="padding-top: 20px;text-align: left;">
                                                {% for contentData in campaign.contents if contentData.block == 'block-image-2' %}
                                                    {% if contentData.link_content %}
                                                        <a href="{{ host ~ 'click-tracking/image/' ~ contentData.code }}"
                                                           target="_blank">
                                                            <img src="{{ host ~ contentData.source_path }}" style="width: 315px;" width="315">
                                                        </a>
                                                    {% else %}
                                                        <img src="{{ host ~ contentData.source_path }}" style="width: 315px;" width="315">
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                {% for contentData in campaign.contents if contentData.block == 'block-text-2' %}
                                                    <table width="100%" style="width: 100%;">
                                                        <tr>
                                                            <td valign="top" bgcolor="{{ contentData.style_block.background }}"
                                                                style="padding: 15px 10px; text-align: justify; font-family: 'Helvetica', 'Arial', sans-serif;font-size: 14px;vertical-align: top;background-color: {{ contentData.style_block.background }};color: {{ contentData.style_block.text }};">
                                                                {{ contentData.text_content|raw|remove_empty_tags }}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                {# -- ************ Column 2 ************ -- #}
                                <td width="325" style="width: 325px; padding: 0;text-align: center; vertical-align: top;">
                                    <table style="width: 100%; padding: 0;text-align: center;">
                                        <tr>
                                            <td style="padding-top: 20px;text-align: right;vertical-align: top;">
                                                {% for contentData in campaign.contents if contentData.block == 'block-image-3' %}
                                                    {% if contentData.link_content %}
                                                        <a href="{{ host ~ 'click-tracking/image/' ~ contentData.code }}"
                                                           target="_blank">
                                                            <img src="{{ host ~ contentData.source_path }}" style="width: 315px;" width="315">
                                                        </a>
                                                    {% else %}
                                                        <img src="{{ host ~ contentData.source_path }}" style="width: 315px;" width="315">
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                {% for contentData in campaign.contents if contentData.block == 'block-text-3' %}
                                                <table width="100%" style="width: 100%;">
                                                    <tr>
                                                        <td valign="top" bgcolor="{{ contentData.style_block.background }}"
                                                            style="padding: 15px 10px;text-align: justify;font-family: 'Helvetica', 'Arial', sans-serif;font-size: 14px;vertical-align: top;background-color: {{ contentData.style_block.background }};color: {{ contentData.style_block.text }};">
                                                            {{ contentData.text_content|raw|remove_empty_tags }}
                                                        </td>
                                                    </tr>
                                                </table>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
</table>

