description = "Footer Text"
==
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2">
                <div class="px-1 px-lg-3 mt-4">
                    <img src="https://paxglobalmedia.com/storage/app/media/images/logos/PAXGlobalMedia-rgb.png"
                         class="img-fluid" style="color: black;"
                         alt="Logo PAXGlobalMedia">
                </div>

            </div>
            <div class="col-12 col-md-3 mt-4">
                <div class="pl-lg-5">
                    <h6><strong>{{ 'LEGAL INFORMATION'|_ }}</strong></h6>
                    <a href="{{ 'http://paxglobalmedia.com/privacy-policy'|_ }}"
                       class=""
                       target="_blank">
                        {{ 'Privacy Policy'|_ }}
                    </a>
                    <br>
                    <a href="{{ 'http://paxglobalmedia.com/terms-use'|_ }}"
                       class=""
                       target="_blank">
                        {{ 'Terms of Use'|_ }}
                    </a>
                </div>

            </div>
            <div class="col-12 col-md-3 mt-4">
                <h6><strong>{{ 'SITE LANGUAGE'|_ }}</strong></h6>
                <a href="#"
                   class=""
                   data-request="onSwitchLocale"
                   data-request-data="locale: 'fr'" title="Français">
                    Français
                </a>
                <br>
                <a href="#"
                   class=""
                   data-request="onSwitchLocale"
                   data-request-data="locale: 'en'" title="English">
                    English
                </a>

            </div>
            <div class="col-12 col-md-3 mt-4">
                <h6><strong>{{ 'CONTACT & SUPPORT'|_ }}</strong></h6>

                <i class="fa fa-whatsapp"></i>&nbsp;
                <a class="" href="tel:4506895060">(450) 689-5060</a>

                <br>

                <i class="fa fa-envelope"></i>&nbsp;
                <a class="" href="{{ 'contact'|page }}">{{ 'Contact Us'|_ }}</a>

            </div>
        </div>

    </div>


</div>