subject = "Requested Password Reset"
==

Hello {{ name }},

Somebody has requested a password reset for your account, if this was not you, please ignore this email.

Use the this activation code to restore your password:
{{ code }}


You can use the following link:
{{ link }}


---
This is an automatic message. Please do not reply to it.

==
<html>
<head><title>Logimonde Media</title></head>
<body>
<table width="640" cellspacing="0" cellpadding="0" border="0" align="center"
       style="font-family: Helvetica, sans-serif;">
    <tr>
        <td style="background-color: #f5f5f5;padding: 20px 35px;border-top: 4px solid #111820;">
            <img src="{{ logo }}" width="200">
        </td>
    </tr>

    <tr>
        <td style="padding: 20px 35px;font-family: Helvetica, sans-serif;">
            <br/>
            <p>Hello {{ name }},</p>

            <p>Somebody has requested a password reset for your account, if this was not you, please ignore this email.</p>

            <p>
                Use the this activation code to restore your password:<br />

            </p>
            <table>
                <tr>
                    <td style="padding: 15px;background-color: #ececec;font-size: 18px;">
                        <pre>{{ code }}</pre>
                    </td>
                </tr>
            </table>
            <br>
            <p>
                You can use the following link:<br />
                <a href="{{ link }}" style="font-family: Helvetica, sans-serif;font-size: 12px;">
                    {{ link }}
                </a>
            </p>
            <br/><br/>
        </td>
    </tr>
    <tr>
        <td style="background-color: #40464c;padding: 20px;font-family: Helvetica, sans-serif;font-size: 12px;color: #ffffff;">
            For any questions, do not hesitate to
            <a href="{{ host }}contact" style="color: #ffffff;text-decoration: underline;">contact us</a><br><br>
            We recommend you review the&nbsp;
            <a href="{{ 'https://logimondemedia.com/privacy-policy' }}" style="color: #ffffff;text-decoration: underline;">
                privacy policy
            </a>.
        </td>
    </tr>
    <tr>
        <td style="background-color: #111820;padding: 10px 35px;font-family: Helvetica, sans-serif;font-size: 12px;color: #fff;text-align: right;">
            All rights reserved &copy; Logimonde Media {{ "now"|date('Y') }}
        </td>
    </tr>
</table>
<hr />
<p>This is an automatic message. Please do not reply to it.</p>