<div class="row">
    <div class="col-3">
        <img src="{{ contentData.source_path }}" class="img-fluid">
    </div>
    <div class="col-8">
        <p class="mt-1"><strong>{{ contentData.original_name }}</strong></p>
        <span class="btn btn-secondary btn-sm btn-file">
                    <i class="fa fa-refresh"></i>&nbsp;&nbsp;{{ 'Replace'|_ }}
            <input type="file"
                   id="upload-file-content"
                   name="file_upload"
                   data-id="{{ contentData.id }}"
                   data-url="{{ 'app/campaign-content'|page({campaign: campaign.id}) }}"
                   accept=".jpeg,.jpg,.png,.gif">
        </span>
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <a href="javascript:;"
           class="btn btn-secondary btn-sm"
           data-template-file="CampaignContent::{{ campaign.template.partial_file }}"
           data-confirm="{{ 'Are you sure'|_ }}?"
           data-id="{{ contentData.id }}"
           onclick="removeFileContent(this)"><i class="fa fa-times"></i>&nbsp;{{ 'Remove'|_ }}</a>
    </div>
</div>
<div class="row mt-3"><div class="col" style="border-bottom: 1px solid #ececec;"></div></div>
<div class="row mt-3">
    <div class="col-12">
        <div class="form-group ">
            <label>{{ 'Add a link to your image'|_ }}</label>
            <input type="text" class="form-control"
                   name="link" value="{{ contentData.link_content }}">
        </div>
    </div>
    <div class="col text-right">
        <button type="button"
                class="btn btn-primary btn-sm"
                data-id="{{ contentData.id }}"
                onclick="updateProperties(this)">
            {{ 'Update'|_ }}
        </button>
    </div>
</div>
<input type="hidden" name="set_img_width" value="{{ imageWidth }}">
<input type="hidden" name="called_block" value="{{ block }}">