<div class="row">
    <div class="col-10 offset-1 py-5">
        <div class="wrapper-template one-column py-4">
            {#Block logo#}
            {% for contentData in campaign.contents if contentData.block == 'block-image-1' %}
                <div class="mt-3 block-content block-logo" id="block-image-1"
                     data-file-type="{{ contentData.mime }}"
                     data-image-size="350"
                     data-block-type="image">
                    {% partial __SELF__ ~ '::templates/__block_logo' contentData=contentData block='block-image-1' %}
                </div>
            {% else %}
                <div class="mt-3 block-content block-logo" id="block-image-1"
                     data-file-type=""
                     data-image-size="350"
                     data-block-type="image">
                    {% partial __SELF__ ~ '::templates/__block_logo' block='block-image-1' %}
                </div>
            {% endfor %}
            {# Block text large #1 #}
            {% for contentData in campaign.contents if contentData.block == 'block-text-1' %}
                <div class="mt-5 block-content block-text-large" id="block-text-1"
                     data-file-type="{{ contentData.mime }}"
                     data-block-type="text">
                    {% partial __SELF__ ~ '::templates/__block_text' contentData=contentData block='block-text-1' %}
                </div>
            {% else %}
                <div class="mt-5 block-content block-text-large" id="block-text-1"
                     data-file-type=""
                     data-block-type="text">
                    {% partial __SELF__ ~ '::templates/__block_text' block='block-text-1' %}
                </div>
            {% endfor %}

            {% for contentData in campaign.contents if contentData.block == 'block-image-2' %}
                <div class="mt-5 block-content block-image" id="block-image-2"
                     data-file-type="{{ contentData.mime }}"
                     data-image-size="650"
                     data-block-type="image">
                    {% partial __SELF__ ~ '::templates/__block_image' contentData=contentData block='block-image-2' %}
                </div>
            {% else %}
                <div class="mt-5 block-content block-image" id="block-image-2"
                     data-file-type=""
                     data-image-size="650"
                     data-block-type="image">
                    {% partial __SELF__ ~ '::templates/__block_image' block='block-image-2' %}
                </div>
            {% endfor %}
            {#Block main text#}
            {% for contentData in campaign.contents if contentData.block == 'block-text-2' %}
                <div class="mt-5 block-content block-text-large" id="block-text-2"
                     data-file-type="{{ contentData.mime }}"
                     data-block-type="text">
                    {% partial __SELF__ ~ '::templates/__block_text' contentData=contentData block='block-text-2' %}
                </div>
            {% else %}
                <div class="mt-5 block-content block-text-large" id="block-text-2"
                     data-file-type=""
                     data-block-type="text">
                    {% partial __SELF__ ~ '::templates/__block_text' block='block-text-2' %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<input type="hidden" name="template_id" value="{{ template ? template.id : campaign.template_id }}">