{{ form_open({"id":"form-list-contacts" }) }}
<div class="row mt-3">
    <div class="col-12 col-sm-6 col-md">
        <a href="{{ 'app/custom-contacts-form'|page({list: customList.id}) }}"
           class="btn btn-primary">
            {{ 'Add Contact'|_ }}
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md mt-3 mt-sm-0">
        {% partial 'app/search-bar' %}
    </div>
    <div class="col-12 col-sm-6 col-md mt-3 mt-sm-0 text-right">
        <p class="d-inline-block">{{ 'Sort by'|_ }} :</p>&nbsp;&nbsp;
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                {{ sort != '' ? sortOptions[sort]|_ : sortOptions['updated_at desc']|_ }}
            </button>
            <div class="dropdown-menu">
                {% for key, sortOption in sortOptions %}
                    <a class="dropdown-item"
                       href="javascript:void(0);"
                       data-action="{{ key }}">{{ sortOption|_ }}</a>
                {% endfor %}
                <input type="hidden" class="dropdown-input"
                       name="sort" value="{{ sort != '' ? sort : 'updated_ad desc' }}">
            </div>
        </div>
    </div>
</div>
{{ form_close() }}