description = "Marketing Section"
==
<section class="parallax marketing-partial"
         style="background-image: url({{ 'assets/images/front/getstarted.jpg'|theme }});">
    <div class="container">
        <div class="row py-5">
            <div class="col py-3 py-md-5 text-center">
                <h1 class="display-4 text-white text-center">
                    {{ 'Make QuickPresse your trusted choice for eblast marketing'|_ }}.
                </h1>
                <h2 class="h2-responsive grey-text text-center">
                    {{ 'We give you the necessary marketing tools to take your business to the next level'|_ }}.
                </h2>
                <h3 class="h3-responsive text-white text-center mt-md-5">
                    {{ 'Get started today'|_ }}.
                </h3>
                <a href="{{ 'account/register'|page }}" class="btn btn-primary btn-lg my-5">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'Sign Up'|_ }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </div>
        </div>
    </div>
</section>