{% set interval = 3 %}
{% set numberPages = items.lastPage %}
{% set currentPage = items.currentPage %}
{% if numberPages > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end {% if size == 'sm' %}pagination-sm{% endif %}">

            <li class="page-item">
                {% if currentPage > 1 %}
                    <a class="page-link "
                       href="{{ this.page.baseFileName|page }}{{ options ? options ~ '&':'?' }}&page={{ currentPage-1 }}">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                {% else %}
                    <span class="page-link grey-text"><i class="fa fa-angle-double-left"></i></span>
                {% endif %}
            </li>
            <li class="page-item">
                <input type="text" class="text-center page-input"
                       name="page[]"
                       value="{{ currentPage }}"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="{{ 'Type a page number and press Enter'|_ }}"
                       style="font-size: 0.875rem; border:1px solid #ddd;padding: 4px 5px;margin: 0 5px;width: 50px;">
            </li>
            <li class="page-item">
                {% if numberPages > currentPage %}
                    <a class="page-link"
                       href="{{ this.page.baseFileName|page }}{{ options ? options:'?' }}&page={{ currentPage+1 }}">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                {% else %}
                    <span class="page-link grey-text"><i class="fa fa-angle-double-right"></i></span>
                {% endif %}
            </li>

        </ul>
    </nav>
    <input type="hidden" name="lastPage" value="{{ numberPages }}">
{% endif %}