description = "Footer Application"
==
<div class="primary-color m-t-2 " style="padding-top: 9px; padding-bottom: 6px;z-index: 3;">
    <div class="container-fluid">
        <div class="footer-wrapper">
            <div class="row white-text">
                <div class="col-sm-6 small">
                    <a href="{{ 'http://logimondemedia.com/privacy-policy'|_ }}"
                       class="white-text"
                       target="_blank">{{ 'Privacy Policy'|_ }}</a>
                    &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
                    <a href="{{ 'http://logimondemedia.com/terms-use'|_ }}"
                       class="white-text"
                       target="_blank">{{ 'Terms of Use'|_ }}</a>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <small>{{ 'All rights reserved'|_ }} &copy; PAXGlobalMedia {{ "now"|date('Y') }}</small>
                </div>
            </div>
        </div>

    </div>
</div>